@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: left;
}

.topoPrimario {
    display: block;
    align-items: center;
    -webkit-box-align: center;
    height: 25px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    background-color: #f6f6f6
}
.textoPrimarioEscritaA {
    position: absolute;
    margin: 20%;

}
.textoPrimarioEscritaB {
    position: absolute;
    padding-left: 74.1%;
}
.logoMarcaLogoParte1 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size:20px;
    padding-left: 20%;
    font-weight: bold;
    color: blue;
}
.logoMarcaLogoParte2 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size:20px;
    font-weight: bold;
    padding-left: 25%;
    color: green;
}
.campoDePesquisa {
    margin-left: 35%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 15px;
    font-weight: 550;    
    background-color: #c6c6c6;
    border-radius: 8px;
    color: rgba(0, 5, 255);
    padding-top: 2px;
    padding-right: 250px;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 22px;
}
