@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: left;
}

.topoPrimario {
    display: block;
    align-items: center;
    -webkit-box-align: center;
    height: 25px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    background-color: #f6f6f6;
    cursor: pointer;
}
.textoPrimarioEscritaA {
    position: absolute;
    margin: 20%;
    cursor: pointer;
}
.textoPrimarioEscritaB {
    position: absolute;
    padding-left: 74.1%;
    cursor: pointer;
}
.logoMarcaLogoParte1 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size:20px;
    padding-left: 20%;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}
.logoMarcaLogoParte2 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size:20px;
    font-weight: bold;
    padding-left: 25%;
    color: green;
    cursor: pointer;
}
.campoDePesquisaEscrita {
    font-size: 14px;
    font-weight: 580;
    border: none;
    margin-left: 30%;
    margin-top: 8px;
    background-color: #c6c6c6;
    border-radius: 8px;
    padding-inline-start: 23px;
    width: 30%;
    padding-top: 6px;
    padding-bottom: 6px;
}
.bemVindoA {
    position: absolute;
    margin-top: -25px;
    margin-left: 65%;
    font-size: 12px;
}
.bemVindoB {
    position: absolute;
    margin-top: -10px;
    margin-left: 65%;
    font-size: 12px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
